p.logger {
  color: #EBEBEB;
}

#logger-container {
  height: 20%;
  width: 100%;
  background-color: #e0e0e0;
  display: flex;
  flex-direction: column;
}

#logger-buttons {
  display: flex;
  flex-wrap: wrap;
}

#logger-buttons > button {
  margin: 5px;
  height: 6vh;
  width: 11vh;
  text-align: center;
}

#logger-feedback {
  height: 100%;
  text-align: center;
}

#logger-feedback > p {
  margin: auto;
}
