html {
  font-family: 'Spartan', sans-serif;
  /* background-color: orange; */
  background-color: white;
}

body {
  width: 600px;
  margin: 100px auto;
  /* background-image: url('../images/nlVlag.png'); */
  background-color: whitesmoke;
  padding: 10px 20px 20px 20px;
}

li {
  line-height: 2;
  letter-spacing: 1px;
}

#addItemButton {
  padding: 0;
  border: none;
  background: none;
  font-size: 20px;
}

#deleteBtn {
  padding: 0 0 0 200px;
  border: none;
  background: none;
  /* font-size: 20px; */
}
